*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #222;
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  color: #fce300;
  font-size: 12px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  img {
    width: 16px;
    height: auto;
  }
}

canvas {
  background: #fff;
}

header {
  background: silver;
  padding: 2px;

  button {
    border: 0;
    background: transparent;

    &:hover {
      box-shadow: 1px 1px black, inset -1px -1px gray, inset 1px 1px white;
    }
  }
}

main {
  padding: 16px;
}

footer {
  background: silver;
  padding: 4px;
}

#container {
  border: 1px solid #808080;
}

aside {
  background: silver;
  width: 52px;
  padding-top: 2px;

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
  }

  button {
    width: 24px;
    height: 24px;

    background: #bdbdbd url('./icons/draw.png') no-repeat center;

    border: 1.5px solid #eee;
    border-right-color: #000;
    border-bottom-color: #000;

    image-rendering: pixelated;

    &.active {
      border-color: #000;
      border-right-color: #eee;
      border-bottom-color: #eee;
    }
  }
}

#eraseBtn {
  background: #bdbdbd url('./icons/erase.png') no-repeat center;
}

#rectangleBtn {
  background: #bdbdbd url('./icons/rectangle.png') no-repeat center;
}

#ellipseBtn {
  background: #bdbdbd url('./icons/ellipse.png') no-repeat center;
}

#pickerBtn {
  background: #bdbdbd url('./icons/picker.png') no-repeat center;
}

#clearBtn {
  background: #bdbdbd url('./icons/trash.png') no-repeat center;
  background-size: 18px;
}
